useDynLib(groHMM)
import(MASS, IRanges, GenomicAlignments, GenomicRanges, rtracklayer, parallel)
importFrom(IRanges, unlist, split)
export(writeWiggle, detectTranscripts, makeConsensusAnnotations, 
    evaluateHMMInAnnotations, windowAnalysis, breakTranscriptsOnGenes, 
    combineTranscripts, getTxDensity, limitToXkb, runMetaGene, metaGene, 
    pausingIndex, polymeraseWave)
